RewriteEngine on
RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico|sitemap\.xml|img|js|css|scss|bower_components|build|dist|fonts|plugins|ckeditor|ckfinder|fonts)
RewriteRule ^(.*)$ index.php/$1 [L]
